@model HacerCotizacionModel
@{
    ViewData["Title"] = "hacerCotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos{
    <link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}
<div class="row mb-3">
    <label for="clienteSelect"> Seleccionar cliente: </label>
    <select id="clienteSelect" class="form-control"  aria-label="Default select example">
        <option value="-1" selected>Seleccionar cliente</option>
        @foreach (var item in Model.cliente)
        {
            <option value="@item.IdCliente">@item.Nombre</option>
        }
    </select>
</div>




    
<div class="row">
    <div class="col-4">
        <div class="card ">
            <div class="card-header">
                Listado de Productos
            </div>
            <div class="card-body">
                <select id="familySelect" class="form-control mt-3 mb-3" aria-label="Default select example">
                    <option value="-1" selected>TODOS</option>
                    @foreach (var item in Model.Familia)
                    {
                        <option value="@item.IdFamilia">@item.Nombre</option>
                    }


                </select>
                <table class="table" id="tablaDatos">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Producto</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.productos)
                        {
                            <tr>

                                <td>@item.Nombre</td>
                                <td>@item.Stock</td>
                                <td>@item.precio</td>
                                <td><button class="btn btn-primary btn-sm " type="button" data-id="@item.IdPrudcuto"> <i class="bi bi-plus"></i></button></td>
                            </tr>
                        }



                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Listado para la Cotizacion
            </div>
            <div class="card-body">
                <table class="table" id="CotizacionTabla">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="CuerpoTabla">
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-3">
                        <h6>Cantidad: </h6>
                    </div>
                    <div class="col-sm">
                        <h6 id="cantidadTotal"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h6>Total: </h6>
                    </div>
                    <div class="col-sm">
                        <h6 id="precioTotal"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <button class="btn btn-info" id="btnGuardar"><i class="bi bi-floppy-fill"></i> Guardar Cotizacion</button>
                    </div>

                </div>

            </div>
    </div>

</div>







@section Scripts {
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>

        $(document).ready(function () {
                $('#clienteSelect').select2();
            var productoDetalle = []
            $('#familySelect').change(function () {
                var id = $(this).val();

                console.log(id)
                

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ProductosPorFamilia")',
                    dataType : 'json',
                    data: {idFamilia : id},
                    success: function (result) {
                        console.log(result);                              
                        actualizarTabla(result)
                    },
                    error: function () {
                        console.error('Error al hacer solicitud')
                    }
                });
            });

            function actualizarTabla(productos) {
                $('#tablaDatos tbody').empty();
                console.log(productos);
               
                productos.forEach(function (dato) {
                    $('#tablaDatos tbody').append(
                        '<tr>' +
                        '<td>' + dato.nombre + '</td>' +
                        '<td>' + dato.stock + '</td>' +
                        '<td>' + dato.precio + '</td>' +
                        '<td> <button  class="btn btn-primary btn-sm" type="button" data-id="' + dato.idPrudcuto + '"> <i class="bi bi-plus" > </i></button> </td>' +
                        '</tr>'
                    );
                });
            }

            $('#tablaDatos tbody').on('click', 'button', function () {
                var idProducto = $(this).data('id');
                console.log(idProducto)
                var nombre = $(this).closest('tr').find('td:first').text(); 
                console.log(nombre)
                var precio = $(this).closest('tr').find('td:nth-child(3').text(); 
                console.log(precio)

                var nuevo = {
                    IdDetalle: 0,
                    IdCotizacion: 0,
                    IdProducto: parseInt(idProducto),
                    Cantidad: 0,
                    precio: parseFloat(precio),
                    Total: 0
                }
                productoDetalle.push(nuevo);
                $('#CotizacionTabla tbody').append(
                    '<tr>'+
                    '<td>' + nombre + '</td>' +
                    '<td><input class="intro" type="number" value="0" data-id="' + idProducto + '"></td>' +
                    '<td class="price">' + precio + '</td>' +
                    '<td class="result">0</td>' +
                        '<td> <button  class="btn btn-danger btn-sm" type="button" data-id="' + idProducto + '"> <i class="bi bi-trash2-fill"></i></button> </td>' +
                    '</tr>');
            });

           

            $('#CotizacionTabla tbody').on('input', '.intro', function () {
                var idProducto = $(this).data('id');
                var valorInput = $(this).val();
                var precio = parseFloat($(this).closest('tr').find('.price').text());
                var resultadoElement = $(this).closest('tr').find('.result');

                

                if (valorInput < 1){
                    $(this).val() = 1
                    alert('Por favor, ingresa un número válido.');
                    return
                }
                if (!isNaN(valorInput) && !isNaN(precio)) {
                    var resultado = valorInput * precio;
                    resultadoElement.text(resultado);

                    for (var i = 0; i < productoDetalle.length; i++) {
                        if (productoDetalle[i].IdProducto == idProducto) {
                            productoDetalle[i].Cantidad = parseInt(valorInput)
                            productoDetalle[i].Total = parseFloat(resultado)
                        } 
                    }

                    calcularCantidades();

                } else {
                    alert('Por favor, ingresa un número válido.');
                }
            });

            function calcularCantidades(){
                var totalCantidad = 0;
                $('#CotizacionTabla tbody .intro').each(function () {
                    var cantidad = parseFloat($(this).val());
                    if (!isNaN(cantidad)) {
                        totalCantidad += cantidad;
                    }

                });

                $('#cantidadTotal').text(totalCantidad);


                var totalPrecio = 0
                $('#CotizacionTabla tbody .result').each(function () {
                    var cantidad = parseFloat($(this).text());
                    if (!isNaN(cantidad)) {
                        totalPrecio += cantidad;
                    }
                });

                
                $('#precioTotal').text(totalPrecio.toFixed(2));

            }

         
            $('#btnGuardar').click(function () {
                //var tablaData = ObtenerInformacionTabla();
                var cantidadTotal = parseInt($('#cantidadTotal').text())
                var precioTotal = parseFloat($('#precioTotal').text())
                var idCliente = $('#clienteSelect').val()

                if(idCliente == -1 ){
                    alert("Tiene que seleccionar un cliente")
                    return
                }
                
                var datos = JSON.stringify({
                        cantidad: cantidadTotal, total: precioTotal, idCliente: idCliente, lista: productoDetalle
                })
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("InsertarCotizacion")',
                    contentType: 'application/json',
                    data: datos,
                    success: function (result) {
                        if (result && result.success && result.redirectUrl) {
                            window.location.href = result.redirectUrl;
                        } else {
                            alert('Hubo un problema al insertar la cotización.');
                        }
                                           
                    },
                    error: function () {
                        console.error('Error al hacer solicitud')
                    }

                })



            });

            

            


 
        });

           
    </script>
}

